.policy-content {
  color: #000;
  text-align: left;
}
.policy-content .policy-strong {
  font-weight: 600;
  text-decoration: underline;
}
.policy-content .policy-text {
  display: block;
}
.register-phone {
  height: 100%;
  background-color: white;
}
.InputItem-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.register-phone-icon {
  color: #000;
}
