.country-navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
}
.country-main {
  margin-top: 45px;
}
.country-ul {
  position: fixed;
  width: 20px;
  right: 0;
  top: 90px;
  color: #2384d3;
  font-size: 12px;
  text-align: center;
}
